.table-form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: navy
}

.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

.form-table th,
.form-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;

}

.form-table th {
    background-color: #f2f2f2;
}

.add-btn {
    background-color: #2c3dd4;
    color: white;
    padding: 8px 10px;
    border: navy 1px solid;
    border-radius: 15px;
    cursor: pointer;
    width: 20%;
    margin-top: 5px;
    width: 150px;
    text-align: center;
}

.del-btn,
.submit-btn {
    background-color: #4433df;
    color: white;
    padding: 10px 20px;
    border: navy 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    width: 80px;
    font-size: 13px;
}

.add-btn:hover,
.del-btn:hover,
.submit-btn:hover {
    background-color: #8dd6a6;
}

/* Responsive design */
@media (max-width: 600px) {
    .table-form-container {
        padding: 15px;
    }

    .form-table th,
    .form-table td {
        padding: 6px;
    }

    .add-btn,
    .submit-btn {
        padding: 8px 10px;
    }
}